{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-danger" href="{% url 'store' %}"> &#x2190;Torna a spendere.</a>

                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Oggetti: 22</h5></th>
                        <th><h5>Totale: <strong>1$</strong></h5></th>
                        <th>
                            <a style="float: right" class="btn btn-dark"
                               href="{% url 'checkout' %}">Ti senti soddisfatto ora?</a>
                        </th>
                    </tr>
                </table>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex: 1.5">Prodotto</div>
                    <div style="flex: 1">Price</div>
                    <div style="flex: 1">Quantità</div>
                    <div style="flex: 1">Prezzo</div>
                </div>
                <div style="flex:2"><img class="row-image"
                                         src="{% static 'immagini/taglio1.jpg' %}"></div>
                <div style="flex: 2"><p>Prodotto: Taglio1</p></div>
                <div style="flex: 1"><p class="quantity">12$ </p></div>
                <div style="flex: 1"><p class="quantity">1 </p></div>
                <div style="flex: 1"></div>
            </div>
        </div>
    </div>
{% endblock %}