{% extends "store/base.html" %}


{% block content %}
    <div class="container d-flex justify-content-center align-items-center ">
    <div class="box-login">
        <h1>ACCEDI</h1>
        <form action="" method="post">

        <input type="text" required>
            <label>Username/email</label>
            <br>
        <input type="password" required>
            <label>Password</label>
           <p>Non sei registrato? <a href="/admin/">Registrati</a> </p>
    {% csrf_token %}

        <input type="submit" value="Login">
    </form>
    </div>
    </div>

{% endblock %}